.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/src/debug
app/src/debug/res/values/google_maps_api.xml
app/libs
app/build
.idea
app/src/androidTest
app/app-debug.apk
build
app/proguard-rules.pro
app/geoAlgorithm Demo.apk